#render-zone {
    background-color:antiquewhite;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 80vh;
}

#top-bar {
    display:grid;
    grid-template-columns:5fr 1fr 1fr;
    height:auto;
}

.day {
    border:1px solid black;
}

.weekend {
    color:red;
}