<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}"/>
    
    <title>Calendar</title>
</head>
<body>
    <!-- <h1>Calendar</h1> -->
    <div id="top-bar">
        <h2 id="month-name"></h2>
        <button id="prev">Prev</button>
        <button id="next">Next</button>
    </div>
    <div id="app-calendar"></div>

    


    <script type="text/javascript" src="{{ url_for('static', filename='test1.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
    <script>
        
    </script>

</body>
</html>